# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/

# Environment
.env

# Project specific
data/
logs/
output/
snapshots/
downloads/
storage/
qdrant
*.log
*.out
.DS_Store
.qdrant-initialized
.qdrant-initialized\ 2
*.wav
*.mp4

# Docker
docker-desktop
