<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <title>{% block title %}{{ title }}{% endblock %} | NeoDemos</title>
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
    <link rel="stylesheet" href="/static/dist/main.css?v={{ version_label }}">
    {% block styles %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    {% include 'partials/_nav.html' %}
    {% block hero %}{% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'partials/_footer.html' %}
    <script src="/static/dist/app.js?v={{ version_label }}"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>

</html>
