{
  "openapi": "3.1.0",
  "info": {
    "title": "NeoDemos MCP",
    "version": "0.2.0",
    "description": "MCP tools for Rotterdam council data. Auto-generated from `services/mcp_tool_registry.py`. Do not hand-edit.",
    "contact": {
      "url": "https://neodemos.nl"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://mcp.neodemos.nl/mcp",
      "description": "Authenticated MCP endpoint (OAuth 2.1 + DCR)"
    },
    {
      "url": "https://mcp.neodemos.nl/public/mcp",
      "description": "Public MCP endpoint (no auth, rate-limited)"
    }
  ],
  "tags": [
    {
      "name": "mcp-tools",
      "description": "Retrieval + primer tools for Rotterdam council data"
    }
  ],
  "paths": {
    "/tools/analyseer_agendapunt": {
      "post": {
        "operationId": "analyseer_agendapunt",
        "summary": "Bundelt documentinhoud, partijprofiel en historische context voor een agendapunt.",
        "description": "Verzamelt alle informatie die nodig is voor analyse van een specifiek agendapunt: de volledige documentinhoud van subdocumenten, het statische partijprofiel en historische RAG-context via Jina v3 reranking.\n\nGebruik deze tool wanneer:\n- Je een agendapunt_id hebt en een volledige lensbriefing wilt opstellen.\n- De gebruiker vraagt om een analyse vanuit een specifiek partijperspectief.\n\nGebruik deze tool NIET wanneer:\n- Je geen agendapunt_id hebt — gebruik eerst `haal_vergadering_op` of   `lijst_vergaderingen` om een id te vinden.\n- De vraag alleen om het partijstandpunt gaat — gebruik `haal_partijstandpunt_op`.\n- Je alleen de volledige tekst van een enkel document wilt — gebruik `lees_fragment`.\n\nRetourneert: markdown met agendapunt-header, documentinhoud (tot 4 docs, 4000 tekens per doc), partijprofiel-samenvatting en 6 historische RAG-fragmenten.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: briefing op een concreet agendapunt.",
            "input": {
              "agendapunt_id": "abc-123",
              "partij": "GroenLinks-PvdA"
            },
            "expected_output_shape": "Markdown briefing met documentinhoud, partijprofiel en historische context."
          },
          {
            "description": "Negatief: gebruiker heeft alleen een onderwerp, geen agendapunt_id.",
            "input": {
              "agendapunt_id": "wonen"
            },
            "expected_output_shape": "Tool geeft 'niet gevonden'; gebruik eerst `haal_vergadering_op` of `zoek_raadshistorie`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agendapunt_id"
                ],
                "properties": {
                  "agendapunt_id": {
                    "type": "string"
                  },
                  "partij": {
                    "type": "string",
                    "default": "GroenLinks-PvdA",
                    "description": "Partijnaam voor de lenssessie."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/get_neodemos_context": {
      "post": {
        "operationId": "get_neodemos_context",
        "summary": "Context primer: gemeenten, document-types, huidige wethouders, coalition-history, aanbevolen tool-sequences. Roep dit FIRST aan.",
        "description": "Retourneert een structured primer met de beschikbare gemeenten, document-types, de huidige zittende wethouders van Rotterdam (uit `raadslid_rollen`), de coalition-history per college-periode, known limitations, en recommended tool sequences voor veelvoorkomende vraagpatronen. Cheap to call (<50ms). Cached op server-niveau als de DB bereikbaar is.\n\nGebruik deze tool wanneer:\n- Je een nieuwe sessie start — dit geeft je de ground-truth voor rol/tenure/coalition in plaats   van dat je uit trainingsdata moet gokken.\n- De vraag gaat over een historische stemming — check `coalition_history` voor de compositie   op dát moment (GroenLinks/PvdA waren in 2018 coalitiepartij, niet oppositie).\n- Je niet zeker weet welke tool sequence past — zie `recommended_tool_sequences`.\n\nGebruik deze tool NIET wanneer:\n- De vraag al duidelijk in één retrieval tool past en je de context al kent.\n- Je al in dezelfde sessie de context hebt opgehaald (het verandert niet binnen één sessie).\n\nRetourneert: markdown met secties voor gemeenten, document-types, raadssamenstelling, college-history, limitations, en recommended tool-sequences.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.2.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: eerste call in een nieuwe sessie.",
            "input": {},
            "expected_output_shape": "Markdown met alle primer-secties + huidige wethouders uit raadslid_rollen."
          },
          {
            "description": "Negatief: al eerder opgehaald in dezelfde sessie — primer is stabiel.",
            "input": {},
            "expected_output_shape": "Zelfde output; geen reden om te herhalen."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/haal_partijstandpunt_op": {
      "post": {
        "operationId": "haal_partijstandpunt_op",
        "summary": "Combineert statisch partijprofiel met partij-gefilterde RAG voor een beleidsgebied.",
        "description": "Haalt het statische profiel van een partij op voor een beleidsgebied (kernwaarde, programmapunt, consistentie, notulenverwijzingen) en vult dit aan met partij-gefilterde RAG-retrieval uit de notulen.\n\nGebruik deze tool wanneer:\n- De vraag luidt: 'wat is het standpunt van partij X over onderwerp Y'.\n- Je zowel programmapunten als recente notulen-citaten wilt combineren.\n\nGebruik deze tool NIET wanneer:\n- Je alleen losse citaten zonder profielcontext zoekt — gebruik `zoek_uitspraken`   met `partij_of_raadslid`.\n- De vraag over een individuele persoon met rolwisseling gaat — gebruik   `zoek_uitspraken_op_rol`.\n- Je een motie van een partij zoekt — gebruik `zoek_moties` met de `partij`   parameter.\n\nRetourneert: markdown met profielentries (tot 5) en tot 5 aanvullende RAG-fragmenten gefilterd op de partij.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: volledig standpunt + context.",
            "input": {
              "beleidsgebied": "Wonen",
              "partij": "PvdA"
            },
            "expected_output_shape": "Markdown met profielsamenvatting en RAG-citaten van PvdA over wonen."
          },
          {
            "description": "Negatief: alleen losse citaten — verkies `zoek_uitspraken`.",
            "input": {
              "beleidsgebied": "citaten van VVD tijdens laatste debat",
              "partij": "VVD"
            },
            "expected_output_shape": "Deze tool is gericht op beleidsgebieden, niet op losse debatcitaten."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "beleidsgebied"
                ],
                "properties": {
                  "beleidsgebied": {
                    "type": "string"
                  },
                  "partij": {
                    "type": "string",
                    "default": "GroenLinks-PvdA"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/haal_vergadering_op": {
      "post": {
        "operationId": "haal_vergadering_op",
        "summary": "Eén specifieke vergadering ophalen met volledige agenda + documenten (per id of exacte datum).",
        "description": "Geeft de VOLLEDIGE AGENDA van exact ÉÉN raads- of commissievergadering: alle agendapunten (met geneste sub-items), de commissie-naam, en tot 10 bijbehorende documenten (moties, raadsvoorstellen, brieven). Input is een `vergadering_id` OF een exacte datum `JJJJ-MM-DD`.\n\nGebruik deze tool wanneer:\n- De gebruiker de agenda of bijlagen van een BEKENDE vergaderdatum wil inzien.\n- Je vanuit een eerder zoekresultaat (dat een `vergadering_id` noemde) de volledige   context wilt ophalen.\n\nGebruik deze tool NIET wanneer:\n- De gebruiker een OVERZICHT van meerdere vergaderingen in een periode wil — gebruik   `lijst_vergaderingen` (geeft een kalenderlijst per jaar/commissie).\n- Je documentinhoud wilt lezen — gebruik `lees_fragment` met het document_id uit   het resultaat.\n\nRetourneert: markdown met vergadernaam, datum, commissie, geneste agendapunten en een documentenlijst.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: lookup by date.",
            "input": {
              "datum": "2024-06-13"
            },
            "expected_output_shape": "Markdown met agenda en documenten van de raadsvergadering op 2024-06-13."
          },
          {
            "description": "Negatief: gebruiker wil meerdere vergaderingen in een periode — gebruik `lijst_vergaderingen`.",
            "input": {
              "datum": "2024"
            },
            "expected_output_shape": "Deze tool verwacht een volledige datum; gebruik `lijst_vergaderingen(jaar=2024)` voor een lijst."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vergadering_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "datum": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "ISO datum JJJJ-MM-DD (exclusief met vergadering_id)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/lees_fragment": {
      "post": {
        "operationId": "lees_fragment",
        "summary": "DEEP READ: volledige tekst van fragmenten uit één document (met optionele query-rerank).",
        "description": "DEEP READ van één enkel document: haalt de VOLLEDIGE tekst van fragmenten op uit een document waarvan je het `document_id` al kent. Dit is de follow-up-stap na een zoektool die een document_id opleverde. Geef ALTIJD de originele `query` mee als je dit document via een topic-zoektocht vond — dan worden de fragmenten via Jina v3 herrangschikt zodat het relevante gedeelte bovenaan staat. Zonder query: fragmenten in chunk-index volgorde (kan betekenen dat het relevante stuk begraven wordt onder samenvattingsparagrafen).\n\nGebruik deze tool wanneer:\n- Je al een `document_id` hebt en de VOLLEDIGE inhoud wilt lezen om te citeren.\n- Je via een topic-zoekopdracht een document vond: geef ALTIJD dezelfde query mee.\n\nGebruik deze tool NIET wanneer:\n- Je nog geen `document_id` hebt — gebruik eerst `zoek_raadshistorie`, `zoek_moties`,   `zoek_financieel` of `scan_breed`.\n- Je GERELATEERDE stukken zoekt bij dit document — gebruik `zoek_gerelateerd`.\n\nRetourneert: markdown met kop (documentnaam, vergadering, datum, bronlink) en tot `max_fragmenten` fragmenten inclusief gerenderde tabellen.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: document gevonden via zoekopdracht, query meegeven voor re-rank.",
            "input": {
              "document_id": "fin_jaarstukken_2019",
              "query": "Middelland venstertijden",
              "max_fragmenten": 5
            },
            "expected_output_shape": "Markdown met de 5 meest relevante fragmenten voor 'Middelland venstertijden' binnen fin_jaarstukken_2019."
          },
          {
            "description": "Negatief: zonder document_id — gebruik eerst een zoektool.",
            "input": {
              "document_id": "wonen"
            },
            "expected_output_shape": "Geen fragmenten gevonden; gebruik eerst `zoek_raadshistorie` of `scan_breed`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "document_id"
                ],
                "properties": {
                  "document_id": {
                    "type": "string"
                  },
                  "max_fragmenten": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 5
                  },
                  "query": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Optionele topic-query; activeert Jina v3 in-doc re-rank."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/lijst_vergaderingen": {
      "post": {
        "operationId": "lijst_vergaderingen",
        "summary": "Kalenderoverzicht: meerdere vergaderingen per jaar/commissie als compacte tabel.",
        "description": "Retourneert een KALENDEROVERZICHT van MEERDERE vergaderingen als een compacte markdown-tabel (datum, naam, commissie, vergadering_id). Filtert op `jaar` (integer) en/of `commissie` (gedeeltelijke naam-match). Bevat GEEN agenda of documenten — alleen een planningsoverzicht.\n\nGebruik deze tool wanneer:\n- De gebruiker wil weten HOEVEEL en WANNEER vergaderingen in een jaar of commissie   hebben plaatsgevonden (kalender-achtige vraag).\n- Je vergadering_ids nodig hebt om er vervolgens één mee op te halen via   `haal_vergadering_op`.\n\nGebruik deze tool NIET wanneer:\n- De gebruiker de agenda of documenten van één bekende vergaderdatum wil — gebruik   `haal_vergadering_op`.\n- De vraag inhoudelijk is ('wat werd er besproken over X') — gebruik   `zoek_raadshistorie` of `scan_breed`.\n\nRetourneert: markdown-tabel met max 100 rijen (datum, naam, commissie, vergadering_id).",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: alle vergaderingen van de commissie MPOF in 2023.",
            "input": {
              "jaar": 2023,
              "commissie": "MPOF"
            },
            "expected_output_shape": "Markdown-tabel met vergaderingen van de commissie MPOF in 2023."
          },
          {
            "description": "Negatief: inhoudelijke vraag — gebruik `zoek_raadshistorie`.",
            "input": {
              "commissie": "wonen"
            },
            "expected_output_shape": "Deze tool retourneert alleen metadata van vergaderingen, niet de inhoud."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jaar": {
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "commissie": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "max_resultaten": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 25
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/scan_breed": {
      "post": {
        "operationId": "scan_breed",
        "summary": "INDEX-SCAN: breed overzicht met tot 80 korte previews als tabel (titel + 100 tekens).",
        "description": "INDEX-SCAN over het corpus: retourneert tot 80 treffers als een compacte markdown-TABEL met per rij datum, titel, partij, score en document_id. Elke rij bevat een snippet van max 100 tekens — net genoeg om relevantie te beoordelen, NIET genoeg om te citeren. Dit is de discovery-stap bij breed onderzoek.\n\nGebruik deze tool wanneer:\n- De onderzoeksvraag breed is en je niet van tevoren weet welke stukken relevant zijn.\n- Je in één call tot 80 treffers wilt inventariseren i.p.v. meerdere smalle zoektools   te kettingen.\n\nGebruik deze tool NIET wanneer:\n- Je een citeerbaar fragment nodig hebt — de snippets zijn te kort; gebruik   `zoek_raadshistorie` (volledige context per hit).\n- Je een chronologische tijdlijn wilt — gebruik `tijdlijn_besluitvorming`.\n- Je alleen moties/amendementen zoekt — gebruik `zoek_moties` (structured metadata).\n\nRetourneert: markdown-tabel (datum, titel, partij, score, document_id, snippet). Sluit af met een hint dat `lees_fragment` volledige tekst kan ophalen.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: breed onderzoek aftrappen.",
            "input": {
              "vraag": "haven duurzaamheid",
              "max_resultaten": 40
            },
            "expected_output_shape": "Markdown-tabel met tot 40 hits rond haven+duurzaamheid, te gebruiken als index voor vervolgtools."
          },
          {
            "description": "Negatief: concrete vraag die volledige citaten vereist — verkies `zoek_raadshistorie`.",
            "input": {
              "vraag": "wat was het exacte standpunt van wethouder X op 2024-06-13"
            },
            "expected_output_shape": "Previews zijn te kort voor een citaat-antwoord; gebruik `zoek_raadshistorie` of `lees_fragment`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vraag"
                ],
                "properties": {
                  "vraag": {
                    "type": "string"
                  },
                  "datum_van": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "datum_tot": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "partij": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "max_resultaten": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 80,
                    "default": 40
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/tijdlijn_besluitvorming": {
      "post": {
        "operationId": "tijdlijn_besluitvorming",
        "summary": "Chronologische tijdlijn van raadsfragmenten over een onderwerp, gegroepeerd per jaar.",
        "description": "Bouwt een chronologische tijdlijn van discussies en besluitvorming over een onderwerp. Dedupliceert op document_id, lost ontbrekende datums op via de vergaderdatum en groepeert fragmenten per jaar. Filtert chunks met score < 0.2.\n\nGebruik deze tool wanneer:\n- De gebruiker wil zien hoe een beleidsdossier zich over tijd heeft ontwikkeld.\n- Je een evolutie wilt tonen (meerdere jaren, per jaar max 5 fragmenten getoond).\n\nGebruik deze tool NIET wanneer:\n- De gebruiker alleen de meest recente discussie zoekt — gebruik `zoek_raadshistorie`   met `datum_van`.\n- Je alleen stemuitkomsten over tijd wilt zien — gebruik `zoek_moties` met   `datum_van`/`datum_tot`.\n- De vraag een breed overzicht vraagt zonder temporele ordening — gebruik   `scan_breed`.\n\nRetourneert: markdown met jaartal-secties, elk met tot 5 fragmenten (titel, snippet, score, document_id).",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: evolutie van een dossier over meerdere jaren.",
            "input": {
              "onderwerp": "warmtebedrijf",
              "datum_van": "2018-01-01",
              "datum_tot": "2024-12-31"
            },
            "expected_output_shape": "Markdown met jaartal-secties en fragmenten over het warmtebedrijf-dossier."
          },
          {
            "description": "Negatief: gebruiker wil alleen het laatste debat — gebruik `zoek_raadshistorie`.",
            "input": {
              "onderwerp": "meest recente begrotingsdebat"
            },
            "expected_output_shape": "Deze tool levert een tijdlijn; voor alleen het recentste fragment is `zoek_raadshistorie` efficienter."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "onderwerp"
                ],
                "properties": {
                  "onderwerp": {
                    "type": "string"
                  },
                  "datum_van": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "datum_tot": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/vat_document_samen": {
      "post": {
        "operationId": "vat_document_samen",
        "summary": "Source-spans-only summarization van een specifiek document met provenance-verification.",
        "description": "Genereert een samenvatting van één document. Alle zinnen in de samenvatting worden geverifieerd tegen de bron-spans — ongeverifiërbare zinnen krijgen een `⚠️ partial` markering. Werkt in twee modes: `short` (key points) en `long` (paragraaf-samenvatting met citaten).\n\nGebruik deze tool wanneer:\n- Je één specifiek document wilt samenvatten en betrouwbare citaten nodig hebt.\n- De vraag expliciet om een samenvatting vraagt — niet om losse fragmenten.\n\nGebruik deze tool NIET wanneer:\n- Je meerdere documenten tegelijk wilt samenvatten — gebruik `scan_breed` + eigen synthese.\n- Je ruwe fragmenten nodig hebt — gebruik `lees_fragment`.\n\nRetourneert: JSON met `summary`, `mode`, `verified_sentences`, `unverified_sentences`, en `citations`.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "experimental",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.2.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: korte samenvatting van een motie.",
            "input": {
              "document_id": "6115020",
              "mode": "short"
            },
            "expected_output_shape": "JSON met 3-5 key points, alle geverifieerd tegen bronspans."
          },
          {
            "description": "Negatief: topic-overzicht — gebruik `scan_breed` eerst.",
            "input": {
              "document_id": "x",
              "mode": "long"
            },
            "expected_output_shape": "Werkt, maar niet geschikt voor onderzoeksvragen waar je de juiste doc_id nog niet kent."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "document_id"
                ],
                "properties": {
                  "document_id": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "short",
                      "long",
                      "structured"
                    ],
                    "default": "short"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "JSON-encoded summary payload"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/zoek_financieel": {
      "post": {
        "operationId": "zoek_financieel",
        "summary": "Financiele retrieval met tabel-boost en fiscaal-jaar filter (budget_year).",
        "description": "Zoekt begrotingen, jaarstukken, budgetmutaties en subsidiedata. Boost tabelchunks (table_json) boven tekstchunks, en kan filteren op fiscaal jaar via `budget_year`. Rendert gevonden tabellen als gestructureerde markdown tables.\n\nGebruik deze tool wanneer:\n- De vraag over kosten, budgetten, bezuinigingen, subsidies of begrotingsposten gaat.\n- Je een specifiek fiscaal jaar bedoelt: 'wat is de begrotingsruimte voor 2025'   → gebruik `budget_year=2025`. Let op het verschil met publicatiedatum: de   Begroting 2025 wordt in oktober 2024 ingediend (publicatiedatum) maar beschrijft   fiscaal jaar 2025 (budget_year). Voor 'welke begrotingsdocumenten werden in   oktober 2024 gepubliceerd' gebruik `datum_van='2024-10-01'` in plaats van   `budget_year`.\n\nGebruik deze tool NIET wanneer:\n- De vraag algemeen-beleidsmatig is zonder financiele component — gebruik   `zoek_raadshistorie`.\n- Je een specifieke motie over een bezuiniging wilt ophalen met stemuitkomst —   gebruik `zoek_moties`.\n- Je de volledige tekst van een bekend begrotingsdocument wilt lezen — gebruik   `lees_fragment` met de document_id en passeer de originele query voor in-doc   re-rank.\n\nRetourneert: markdown met tabel-boosted chunks (max 20), inclusief gerenderde markdown tables waar table_json aanwezig is en de bronvermelding.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: budget_year pint het fiscaal jaar vast, onafhankelijk van publicatiedatum.",
            "input": {
              "onderwerp": "jeugdzorg",
              "budget_year": 2024
            },
            "expected_output_shape": "Markdown met financiele chunks van documenten waarvan budget_years 2024 bevat; tabellen gerenderd."
          },
          {
            "description": "Negatief: algemene beleidsvraag zonder cijfers — verkies `zoek_raadshistorie`.",
            "input": {
              "onderwerp": "mening college over wonen"
            },
            "expected_output_shape": "Deze tool kan resultaten geven maar tabel-boost is ongewenst voor een debat-vraag."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "onderwerp"
                ],
                "properties": {
                  "onderwerp": {
                    "type": "string",
                    "description": "Financieel onderwerp, bijv. 'jeugdzorg begroting'."
                  },
                  "datum_van": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Startdatum (publicatiedatum) in ISO formaat."
                  },
                  "datum_tot": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Einddatum (publicatiedatum) in ISO formaat."
                  },
                  "budget_year": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Fiscaal doeljaar van het budget (staging.financial_documents.budget_years)."
                  },
                  "max_resultaten": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/zoek_gerelateerd": {
      "post": {
        "operationId": "zoek_gerelateerd",
        "summary": "Vindt documenten gerelateerd aan een gegeven document via meeting, trefwoord of afdoeningsvoorstel.",
        "description": "Zoekt documenten die gerelateerd zijn aan een gegeven `document_id` via drie strategieën: (1) andere documenten uit dezelfde vergadering, (2) trefwoord-match op de gestripte titel, en (3) afdoeningsvoorstellen die verwijzen naar het brondocument.\n\nGebruik deze tool wanneer:\n- Je vanuit een motie het bijbehorende debat wilt vinden, of andersom.\n- Je vanuit een raadsbrief de opvolgende moties of afdoeningsvoorstellen wilt lokaliseren.\n\nGebruik deze tool NIET wanneer:\n- Je het volledige inhoudsverloop over een onderwerp wilt zien — gebruik   `tijdlijn_besluitvorming`.\n- Je nog geen `document_id` hebt — gebruik eerst een zoektool.\n- Je de volledige tekst van het brondocument wilt — gebruik `lees_fragment`.\n\nRetourneert: markdown-tabel met tot 30 gerelateerde documenten (datum, relatie-type, naam, uitkomst-tag waar van toepassing, document_id).",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: vanuit een motie opvolgende afdoeningsstukken vinden.",
            "input": {
              "document_id": "motie_warmtebedrijf_2023",
              "max_resultaten": 10
            },
            "expected_output_shape": "Markdown-tabel met stukken uit dezelfde vergadering en afdoeningsvoorstellen."
          },
          {
            "description": "Negatief: zonder document_id.",
            "input": {
              "document_id": "onbekend"
            },
            "expected_output_shape": "Tool retourneert 'niet gevonden'; gebruik eerst een zoektool om een geldige id te krijgen."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "document_id"
                ],
                "properties": {
                  "document_id": {
                    "type": "string"
                  },
                  "max_resultaten": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 30,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/zoek_moties": {
      "post": {
        "operationId": "zoek_moties",
        "summary": "Directe SQL-zoekopdracht op moties, amendementen en initiatiefvoorstellen met uitkomst en indieners.",
        "description": "Doorzoekt moties, amendementen en initiatiefvoorstellen via directe SQL op documentnaam EN content. Retourneert de geparseerde uitkomst (aangenomen/verworpen/ingetrokken), stemverhouding, indieners en de eerste 1500 tekens van de motietekst. Dit is de beste bron voor stemmingsvragen.\n\nGebruik deze tool wanneer:\n- De vraag over stemgedrag, verworpen voorstellen of stemverhoudingen gaat.\n- Je moties of amendementen van een specifieke partij of indiener zoekt.\n- De gebruiker 'motie', 'amendement' of 'initiatiefvoorstel' noemt, ook voor   single-word topic queries (content wordt altijd meegezocht).\n\nGebruik deze tool NIET wanneer:\n- De vraag gaat om het bredere debat of de context rond een onderwerp, niet om   stemuitkomsten — gebruik `zoek_raadshistorie` of `zoek_uitspraken`.\n- Je financiele cijfers uit begrotingstabellen nodig hebt — gebruik   `zoek_financieel`.\n- Je de volledige tekst van een gevonden motie wilt lezen — gebruik   `lees_fragment` met de document_id.\n\nRetourneert: markdown met per resultaat documentnaam, datum, uitkomst, stemverhouding (indien beschikbaar), indieners, preview (tot 1500 tekens), document_id en bronlink.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: verworpen moties over een onderwerp binnen periode.",
            "input": {
              "onderwerp": "leegstand",
              "uitkomst": "verworpen",
              "datum_van": "2022-01-01"
            },
            "expected_output_shape": "Markdown met verworpen moties/initiatiefvoorstellen over leegstand sinds 2022."
          },
          {
            "description": "Negatief: gebruiker wil debat-citaten, niet stemuitkomsten.",
            "input": {
              "onderwerp": "wat zei PvdA over wonen"
            },
            "expected_output_shape": "Deze tool retourneert alleen moties/amendementen; gebruik `zoek_uitspraken` voor debat-citaten."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "onderwerp"
                ],
                "properties": {
                  "onderwerp": {
                    "type": "string"
                  },
                  "uitkomst": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Filter op uitkomst: 'verworpen', 'aangenomen', 'ingetrokken'."
                  },
                  "datum_van": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "datum_tot": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "partij": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "indiener": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Naam van de indiener/raadslid; initialen worden gestript."
                  },
                  "max_resultaten": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 80,
                    "default": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/zoek_raadshistorie": {
      "post": {
        "operationId": "zoek_raadshistorie",
        "summary": "Algemene hybride zoekopdracht in Rotterdamse raadsnotulen met optionele datum- en partijfilter.",
        "description": "Doorzoekt de volledige Rotterdamse raadshistorie (notulen, raadsbrieven, commissiestukken) met hybride retrieval plus Jina v3 reranking en geeft relevante tekstfragmenten met bronvermelding terug.\n\nGebruik deze tool wanneer:\n- De vraag over een inhoudelijk onderwerp of beleidsthema gaat en de gebruiker   citaten, context of standpunten uit notulen wil zien.\n- Je een periode (datum_van / datum_tot) of een specifieke partij wilt filteren.\n\nGebruik deze tool NIET wanneer:\n- Het om financiele cijfers, begrotingstabellen of budgetjaren gaat — gebruik   `zoek_financieel` (die boost op table_json chunks en ondersteunt `budget_year`).\n- Je specifiek moties, amendementen of initiatiefvoorstellen zoekt met uitkomst of   stemverhouding — gebruik `zoek_moties` (directe SQL op documentnamen + content).\n- De vraag om een overzicht vraagt met veel korte previews — gebruik `scan_breed`.\n- Je een persoon met rolwisselingen wilt volgen (raadslid naar wethouder) — gebruik   `zoek_uitspraken_op_rol`.\n\nRetourneert: markdown met een lijst van max 20 gedededupeerde fragmenten, elk met titel, datum, partij, score en document_id.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: inhoudelijk onderwerp met datumfilter.",
            "input": {
              "vraag": "fietsinfrastructuur oost",
              "datum_van": "2023-01-01",
              "datum_tot": "2024-12-31",
              "max_resultaten": 8
            },
            "expected_output_shape": "Markdown met tot 8 fragmenten, elk met datum, partij, score, document_id."
          },
          {
            "description": "Negatief: begrotingsvraag — gebruik `zoek_financieel` in plaats daarvan.",
            "input": {
              "vraag": "begroting jeugdzorg 2024"
            },
            "expected_output_shape": "Deze tool retourneert wel resultaten maar mist table_json boost en budget_year — verkies `zoek_financieel`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vraag"
                ],
                "properties": {
                  "vraag": {
                    "type": "string",
                    "description": "Zoekterm of vraag in het Nederlands (temporele termen uit de tekst halen)."
                  },
                  "datum_van": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Startdatum in ISO formaat (JJJJ-MM-DD)."
                  },
                  "datum_tot": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Einddatum in ISO formaat (JJJJ-MM-DD)."
                  },
                  "partij": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Partijnaam, bijv. 'VVD', 'PvdA', 'Leefbaar Rotterdam'."
                  },
                  "max_resultaten": {
                    "type": "integer",
                    "description": "Aantal resultaten.",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/zoek_uitspraken": {
      "post": {
        "operationId": "zoek_uitspraken",
        "summary": "Zoekt citaten en uitspraken in debatnotulen, optioneel gefilterd op partij of raadslid.",
        "description": "Zoekt citaten en uitspraken van raadsleden in debatnotulen. Wanneer `partij_of_raadslid` een bekende partijnaam is, filtert de tool via Qdrant payload op die partij; anders wordt de term als keyword aan de query toegevoegd (voor namen van raadsleden).\n\nGebruik deze tool wanneer:\n- De gebruiker wil weten wat partij X of raadslid Y over een onderwerp heeft gezegd.\n- Je citaten of standpunten uit debatten nodig hebt, niet alleen beleidsdocumenten.\n\nGebruik deze tool NIET wanneer:\n- De persoon van rol is gewisseld (bijv. raadslid naar wethouder) en je periode-awareness   nodig hebt — gebruik `zoek_uitspraken_op_rol` (resolveert rolperiodes automatisch).\n- Je het volledige partijstandpunt op een beleidsgebied wilt inclusief profieldata —   gebruik `haal_partijstandpunt_op`.\n- Je specifiek moties of amendementen van een partij zoekt — gebruik `zoek_moties`   met de `partij` parameter.\n\nRetourneert: markdown met tot 20 gedededupeerde citaten, elk met spreker/partij, datum, score en document_id.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: partij-filter via bekende partijnaam.",
            "input": {
              "onderwerp": "warmtebedrijf",
              "partij_of_raadslid": "SP"
            },
            "expected_output_shape": "Markdown met SP-fragmenten uit debatten over het warmtebedrijf."
          },
          {
            "description": "Negatief: persoon met rolwisseling — gebruik `zoek_uitspraken_op_rol`.",
            "input": {
              "onderwerp": "klimaat",
              "partij_of_raadslid": "Buijt"
            },
            "expected_output_shape": "Deze tool mist periode-awareness voor rolwisselingen; verkies `zoek_uitspraken_op_rol`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "onderwerp"
                ],
                "properties": {
                  "onderwerp": {
                    "type": "string"
                  },
                  "partij_of_raadslid": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Partijnaam (gefilterd via payload) of naam raadslid (als keyword)."
                  },
                  "datum_van": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "datum_tot": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "max_resultaten": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/tools/zoek_uitspraken_op_rol": {
      "post": {
        "operationId": "zoek_uitspraken_op_rol",
        "summary": "Rol-bewuste utterance-zoekopdracht die de juiste datumperiode afleidt uit raadslid_rollen.",
        "description": "Zoekt uitspraken van een persoon binnen de periode waarin zij een specifieke rol bekleedden. Resolveert start- en einddatum automatisch uit de `raadslid_rollen` tabel wanneer `datum_van`/`datum_tot` niet expliciet worden meegegeven. Verwerkt naamvarianten zoals 'D.P.A. Tak', 'Dennis Tak' en 'Tak' als equivalent.\n\nGebruik deze tool wanneer:\n- De persoon van rol is gewisseld (bijv. raadslid → wethouder) en je de uitspraken   binnen één rolperiode wilt isoleren.\n- Je de volledige rolhistorie van een persoon wilt zien (wordt als context in de   header getoond).\n\nGebruik deze tool NIET wanneer:\n- De persoon geen rolwisseling heeft en je simpelweg citaten zoekt — gebruik   `zoek_uitspraken`.\n- Je het beleidsprofiel van een partij wilt — gebruik `haal_partijstandpunt_op`.\n- Je moties van een indiener zoekt — gebruik `zoek_moties` met `indiener`.\n\nRetourneert: markdown met rolperiode-info, een fragmentenblok (tot 20) en bronvermelding per fragment.",
        "tags": [
          "mcp-tools"
        ],
        "x-mcp-scopes": [
          "mcp",
          "search"
        ],
        "x-mcp-stability": "stable",
        "x-mcp-public": true,
        "x-mcp-added-in": "0.1.0",
        "x-mcp-latency-p50-ms": 0,
        "x-mcp-examples": [
          {
            "description": "Positief: uitspraken van Buijt als wethouder over klimaat, periode wordt automatisch afgeleid.",
            "input": {
              "naam": "Buijt",
              "onderwerp": "klimaat",
              "rol": "wethouder"
            },
            "expected_output_shape": "Markdown met rolhistorie, periode-filter en uitspraken binnen Buijt's wethouderschap."
          },
          {
            "description": "Negatief: geen rolwisseling relevant — gebruik `zoek_uitspraken`.",
            "input": {
              "naam": "Pastors",
              "onderwerp": "veiligheid"
            },
            "expected_output_shape": "Werkt, maar voor personen zonder rolwisseling is `zoek_uitspraken` directer."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "naam",
                  "onderwerp"
                ],
                "properties": {
                  "naam": {
                    "type": "string"
                  },
                  "onderwerp": {
                    "type": "string"
                  },
                  "rol": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Specifieke rol: 'raadslid', 'wethouder', 'commissielid'."
                  },
                  "datum_van": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Overschrijft de automatisch afgeleide startdatum."
                  },
                  "datum_tot": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Overschrijft de automatisch afgeleide einddatum."
                  },
                  "max_resultaten": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tool invocation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Markdown-formatted response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized — missing or invalid OAuth token"
          },
          "403": {
            "description": "Forbidden — scope not granted"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://mcp.neodemos.nl/authorize",
            "tokenUrl": "https://mcp.neodemos.nl/token",
            "scopes": {
              "mcp": "Access MCP tools",
              "search": "Search council documents"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "mcp",
        "search"
      ]
    }
  ]
}
